@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--very-light-gray);
    padding: 90px 33px 75px;
}


/* Colors */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* Layout  */

header {
    text-align: center;
    margin-bottom: 80px;
}

h1 {
    font-size: 23px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
}

.heading-bold-text {
    font-weight: 600;
}

header p {
    font-weight: 200;
    color: var(--grayish-blue);
    line-height: 25px;
}

.card {
    height: 222px;
    padding: 30px 27px;
    background-color: white;
    margin-bottom: 25px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 13px 35px -15px var(--grayish-blue);
}

.card h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

.card p {
    font-size: 13px;
    font-weight: 200;
    width: 32ch;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var(--grayish-blue);
}

.supervisor {
    border-top: 4px solid var(--cyan);
}

.team-builder {
    border-top: 4px solid var(--red);
}

.karma {
    border-top: 4px solid var(--orange);
}

.calculator {
    border-top: 4px solid var(--blue);
}

img {
    position: absolute;
    bottom: 30px;
    right: 27px;
    width: 55px;
    height: 55px;
}

/* Media Queries */

@media (min-width: 320px) {
    .card p {
        width: 95%;
    }
}
@media (min-width: 411px) {
    .card p {
        width: 100%;
    }
}

@media (min-width: 481px) {
    h1 {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    body {
        width: 75%;
        margin: 0 auto;
    }
    h1 {
        font-size: 30px;
    }
    header p {
        font-size: 17px;
    }
}

@media (min-width: 811px) {
    h1 {
        font-size: 32px;
    }
    .card h2 {
        font-size: 22px;
    }
    .card p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    body {
        width: 100%;
        padding: 90px 100px 80px;
        /* box-sizing: content-box; */
    }
    h1 {
        font-size: 37px;
    }
    header p {
        width: 55ch;
        line-height: 22px;
        margin: 0 auto;
    }
    .cards {
        display: flex;
        margin-right: 30px;
    }
    .card {
        width: 250px;
        height: 252px;
        margin-left: 30px;
    }
    .supervisor, .calculator {
        position: relative;
        top: 140px;
    }
}

@media (min-width: 1200px) {
    /* main {
        padding: 90px 162px 80px;
    } */
}

@media (min-width: 1440px) {
    body {
        padding: 90px 162px 80px;
    }
    .card {
        width: 350px;
        height: 252px;
    }
}

@media (min-width: 1920px) {

}

/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}
